.main-player-card {
    width: 100%;
    min-height: 100vh;
    display: flex;
    background-color:white;
    overflow: hidden;
}

.playercard-section-1 {
    flex: 2.5;
    min-width: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.playercard-section-2 {
    flex: 1;
    min-width: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.playercard-section-3 {
    flex: 3;
    min-width: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.playercard-section-2 {
    gap: 20px;
}

.player-image-container {
    width: 270px;
    height: 400px;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.player-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.player-name-and-position {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    /* align-items: flex-start; */
    /* text-align: center; */
}

.player-name {
    font-size: 24px;
    font-weight: 700;
    color: white;
    margin-bottom: 8px;
}

.player-position {
    font-size: 20px;
    font-weight: 500;
    color: orange;
}

.player-price {
    text-align: center;
    background-color: #f0f0f0;
    padding: 12px 40px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.price-label {
    font-size: 16px;
    font-weight: 500;
    color: #555;
    display: block;
    margin-bottom: 4px;
}

.price-value {
    font-size: 24px;
    font-weight: 700;
    color: #333;
}

/* Right Section (Player Stats) */
.player-stats-heading {
    margin: 20px;
    font-size: 28px;
    font-weight: 600;
    color: white;
    text-align: center;
    padding: 10px 20px;
    border-bottom: 3px solid orange;
    display: inline-block;
}

.add-this-player-button {
    background: linear-gradient(135deg, #1C1F2B 0%, #3A3F56 100%);
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-top: 20px;
}

.add-this-player-button:hover {
    background: linear-gradient(135deg, #3A3F56 0%, #1C1F2B 100%);
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.add-this-player-button:active {
    transform: scale(0.98);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}


.player-card-right-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}